@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 24 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 24 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 10% 10%;
    --primary: 24 10% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 24 10% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 10% 4%; /* Stone-950 */
    --foreground: 24 5% 90%; /* Stone-200 */
    --card: 24 10% 4%;
    --card-foreground: 24 5% 90%;
    --popover: 24 10% 4%;
    --popover-foreground: 24 5% 90%;
    --primary: 24 5% 90%;
    --primary-foreground: 24 10% 4%;
    --secondary: 24 5% 15%;
    --secondary-foreground: 24 5% 90%;
    --muted: 24 5% 15%;
    --muted-foreground: 24 5% 60%;
    --accent: 45 93% 47%; /* Amber-500 */
    --accent-foreground: 24 10% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 24 5% 90%;
    --border: 24 5% 15%;
    --input: 24 5% 15%;
    --ring: 45 93% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
